
:root {
    /* Primary Colors */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    /* Neutral Colors */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*********** General Styles  *********/
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.container {
  margin: 0 auto;
  /* max-width: 37.5em; */
  width: 90%;

  /* border: 1px solid red; */
}

img {
  width: 100%;
}

.logo,
.footer-logo {
  width: 140px;
}

.btn {
  border: none;
  border-radius: 28px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
}

.btn-primary {
  background: var(--lime-green);  
  background-image: linear-gradient(to right bottom, var(--lime-green), var(--bright-cyan));
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--lime-green);  
  background-image: linear-gradient(to right bottom, hsl(142, 63%, 70%), hsl(183, 56%, 68%));
}

.link-block a:hover,
.link-block a:focus {
  color: var(--lime-green);
}

/*********** Typography  *********/
h1, h2, h3, h4 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 2.5rem; 
  line-height: 1;
  margin: .5em 0 .4em; 
  padding: 0 .3em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.33em;
}

h2.features-title {
  margin-bottom: .667em;
}

h3 {
  font-size: 1.5rem;
  margin: 1em 0 .7em;
}

h3.post-title {
  font-size: 1rem;
  margin: .5em 0;
}

p {
  margin: 0;
}

p.subtitle {
  margin-bottom: 2em;
}

p.post-content {
  color: var(--grayish-blue);
  font-size: .8125rem;
  line-height: 1.4;
}

span {
  font-size: .625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

/*********** Header Styles  *********/
.header {
  position: relative;
  /* z-index: 10; */
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
}

/*********** Navigation  *********/
.nav {
    background: white;
    box-shadow: var(--light-shadow);
    margin: 0 auto;
  }
  
  .nav-header {
    /* flex container for the mobile view  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .nav-toggle {
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  
  .links a {
    color: var(--grayish-blue);
    display: block;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .links a:hover,
  .links a:focus {
    
    color: var(--dark-blue);
    /* padding-bottom: 1.5em; */
  }
  
  .links {
    display: none;
    cursor: pointer;
    height: 0;
    list-style: none;
    overflow: hidden;
    /* padding: 2em 0; */
  }

  .btn-group {
    display: none;
  }
  
  .show-links {
    background-color: white;
    border-radius: 4px;
    display: block;
    /* total height of the mobile menu */
    height: 16rem;
    /* padding: 2em; */
    position: fixed;
    top: 100px;
    left: 5%;
    padding: 2em 0;
    text-align: center;
    width: 90%;
  }
  
  .show-links a {
    color: var(--dark-grayish-blue);
    margin-bottom: 1.5em;
  }

/*********** Hero Styles  *********/
.hero {
  background-image: url(../images/bg-intro-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 55%;
  padding-bottom: 7em; 
}

.hero-img {
  margin-top: -37%;
}



/*********** Features Styles  *********/
.features {
  background-color: hsl(223, 18%, 96%);
  padding: 4em 0 2em;
}

p.features-subtitle {
  margin-bottom: 3.5em;
}

.feature p {
  margin-bottom: 2em;
}

.img-icon {
  height: auto;
  width: 72px;
}

/*********** Blog Styles  *********/
.blog {
  background-color: var(--very-light-gray);
  padding: 4em 0 2em;
}
.blog-post {
  background-color: white;
  margin-bottom: 1.5em;
  text-align: left;
}

.blog-img {
  border-radius: 5px 5px 0 0;
  /* height: 160px; */
  /* overflow: hidden; */
}

.blog-img img {
  display: block;
  height: auto;
  /* width: auto; */
}

.blog-text {
  padding: 1.5em 2em 2em;
}

.post-title:hover,
.post-title:focus {
  color: var(--lime-green);
  cursor: pointer;
}

/*********** Footer Styles  *********/
.footer {
  background-color: var(--dark-blue);
  color: white;
  padding: 2.5em 0;
}

.footer-logo {
  margin: 0 auto 2em;
}

.social ul {
  display: flex;
  justify-content: center;
  gap: .75em;
}

.social-icon {
  font-size: 1.5rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-links-1,
.copyright {
  margin-top: 2em;
}

.footer-links-2 {
  margin-bottom: 2em;
}

.attribution {
  margin-top: 3em;
}



  
  @media screen and (min-width: 48em) {
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5em 1em;
      width: 100%;
    }
  
    .nav-header {
      padding: 0;
    }
  
    .nav-toggle {
      /* hides toggle on large screens */
      display: none;
    }
  
    .links {
      /* height: auto removes the 17rem height added to display the mobile menu */
      display: flex;
      align-items: center;
      height: auto;
    }
    
    .links a {
      /* spacing around and between the nav links */
      padding: 0;
      margin: 0 .5rem;
      
    }

    .btn-group {
      display: block;
    }
   
      
    .show-links {
        background-color: transparent; 
        position: static;
        width: auto;
      }
  
    .btn-primary:hover,
    .btn-primary:focus {
      background-color: rgba(255, 255, 255, .3);
      color: white;
    }

    

    .container {
      /* max-width: 45em; */
      /* max-width: 100%; */
    }

    

    h1.page-title {
      font-size: 3.5rem;
      padding: 0;
    }

    .hero-text {
      padding: 0 2em;
    }

    .footer-links {
      flex-direction: row;
      gap: 8em
    }

    .link-block:last-child {
      margin-left: auto;
    }

    .link-block > ul {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .footer-logo {
      margin-bottom: 3em;
      margin-left: 0;
    }
    
    .footer-btn {
      text-align: right;
    }
  }

/*********** Hero Media Queries  *********/

@media (min-width: 64em) {

  
  .hero {
      background-image: url(../images/bg-intro-desktop.svg);
      background-position: top -10em right -20em;
      background-repeat: no-repeat;
      background-size: 80%;
      overflow: hidden;
      padding-bottom: 7em; 
  }
  
  .hero .container {
      display: flex;
      gap: 3em;
  }
  
  .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 4em;
      padding: 0;
      text-align: left;
      /* height: 100vh; */
  }

  h1 {
      padding: 0;
  }

  .btn {
      margin-right: auto;
  }
    
  .hero-img {
      margin-top: -5em;
  }
  
  .hero-img {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      order: 2;
      /* overflow: hidden; */
      /* position: relative; */
      /* height: 500px; */
      /* overflow: hidden; */
      /* width: 100%; */
  
      /* border: 3px solid greenyellow; */
  }
  
  .hero-img-both img {
      
      
  }

  .hero-img img {
  
      grid-column: 1;
      grid-row: 1;
      margin-left: 5em;
      width: 120%;
      height: auto;
  }

  .features {
    margin-top: -14em;
  }

  .features-block,
    .blog-posts-block {
      display: grid;
      grid-template-columns: repeat(auto-fit, 15rem);
      justify-content: center;
      gap: 1em;
    }
  
}


@media (min-width: 75em) {
  body {
    text-align: left;
  }

  .hero .container {
      column-gap: 14em;
  }

  .features-block,
  .blog-posts-block {
    justify-content: start;
    gap: 2em;
  }

  .features {
    margin-top: -12em;
  }
}











.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}