


:root {
    /* Primary Colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%)
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /* Neutral Colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
}

.container {
  max-width: 100vw;
}

img {
  /* display: block; */
  max-width: 100%;
}

/*********** Typography  *********/
h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}

h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1.25em;
  text-transform: uppercase;
  width: 80%;
}


/*********** Navbar Styles  *********/
nav {
  /* width: 100%; */
  background-color: burlywood;
  /* padding-left: 2em; */
  /* padding-right: 2em; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item a {
  display: inline-block;
  /* padding: 1em 1em; */
  text-decoration: none;
  color: var(--white);
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color:var(--primary);
}

.logo img {
  /* width: 175px; */
  vertical-align: middle;
}

/*********** Services Section  *********/
.hero {
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 6em 0 8em;
    text-align: center;
}




/*********** Services Section  *********/
.services {
  text-align: center;

  border: 1px solid red;
}
  
.block-1 { 
  background-image: url(../images/mobile/image-transform.jpg);
  background-position: center;
  background-size: cover;

  padding: 10em 0;
}

.block-2 { 
  

  
}

.block-3 { 
  

  background-image: url(../images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-position: center;

  padding: 10em 0;
}

.block-4 { 
  
}

.block-5 { 
  

  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;

  padding: 10em 0;
}

.block-6 { 
  grid-area: 3 / 2 / 4 / 3;

  background-image: url(../images/mobile/image-photography.jpg);
  background-position: center;
  background-size: cover;

  padding: 10em 0;
}

.txt-services {
  margin-top: 60%;
  text-align: center;
  z-index: 2;
}

.text {
  margin: 6em 2em;
}














.social-link {
    display: inline-block;
    color: var(--dark-grayish-blue);
    margin: 0 1em;
}

.social-link:hover,
.social-link:focus {
    color: var(--soft-magenta);
}


  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3em;
    padding: 0;
    /* width: 50%; */
    list-style: none;
}

/*********** Gallery Section  *********/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: ifr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border: 1px solid red;
}








.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*********** Media Queries  *********/
  @media (min-width: 768px) {
    /*********** Services Section  *********/
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 1px solid red;
  }
    
  .block-1 { 
    /* grid-area: 1 / 1 / 2 / 2; */
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
  }

  .block-2 { 
    /* grid-area: 1 / 2 / 2 / 3; */
    grid-area: 1 / 1 / 2 / 2;

    
  }

  .block-3 { 
    grid-area: 2 / 1 / 3 / 2;

    background-image: url(../images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
  }

  .block-4 { 
    grid-area: 2 / 2 / 3 / 3;
  }

  .block-5 { 
    grid-area: 3 / 1 / 4 / 2;

    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
  }

  .block-6 { 
    grid-area: 3 / 2 / 4 / 3;

    background-image: url(../images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
  }

  .txt-services {
    margin-top: 60%;
    text-align: center;
    z-index: 2;
  }

  .text {
    margin: 6em 2em;
  }

  /*********** Gallery Section  *********/
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 1px solid red;
  }
}