
:root {
    /* Primary Colors */
    --primary: hsl(322, 100%, 66%);
    --hover: hsl(322, 100%, 80%);
    /* Neutral Colors */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--very-dark-cyan);
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    line-height: 1.5;
    text-align: center;
}

/**************** General Styles ***************/
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

img {
    max-width: 100%;
}

/* Buttons */
.btn {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 700;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    margin-bottom: 3.5em;
    padding: 1em 5em;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--hover);
}

.btn-secondary {
    background-color: white;
    box-shadow: 0px 2px 7px hsla(192, 100%, 9%, .1);
    color: inherit; 
    padding: .5em 2.2em;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--grayish-blue);
}

/**************** Typography ***************/
h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 1.5rem;
    margin: 3.33em 0 1em;
}

h2 {
   font-size: 1.25rem;
   margin: 1.2em 0 .8em; 
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 2em;
}

/**************** Header Styles ***************/
.header {
    background-color: var(--very-pale-cyan);
    background-image: url(../images/bg-hero-mobile.svg);
    padding: 1.6875em 0 2.1325em;
}

.logo {
    height: auto;
    width: 32%;
}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**************** Features Styles ***************/
.features {
    padding: 4.3em 0 0;
}

.box {
    border-radius: 16px;
    box-shadow: 0px 0px 14px hsla(192, 100%, 9%, .1);
    margin-bottom: 2.5em;
    padding: 1.5em 2.5em 2em;
}

/**************** CTA Styles ***************/
.cta {
    background-color: white;
    padding: 1.4em 1em 0;
    transform: translateY(100px);
}

.cta h2 {
    font-size: 1.125rem;
    margin-bottom: 1.3em;
}

/**************** Footer Styles ***************/
.footer {
    background-color: var(--very-dark-cyan);
    color: white;
    padding: 9.7em 0 3.285em;
    text-align: initial;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover,
.footer a:focus {
    text-decoration: underline;
}

.footer-logo, 
.company-info li {
   margin-bottom: 1.72em; 
}

.company-info img {
    margin-right: 1.14em;
}

.footer-links li {
    margin-bottom: 1.72em;
}

.social {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 0 0 1.72em;
}

.social a:hover,
.social a:focus {
    border-color: var(--primary);
    color: var(--primary);
    text-decoration: none;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    height: 31px;
    width: 31px;
}

.copyright {
    font-size: .6875rem;
    text-align: center;
}


@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    .header {
        background-image: url(../images/bg-hero-desktop.svg);
    }
}

@media (min-width: 900px) {
    .container {
        width: 90%;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between; 
    }

    /**************** Header Styles ***************/
    .logo {
        height: 31px;
        width: 200px;
    }
    .btn-secondary {
        font-size: .875rem;
        padding: 1em 4em;
    }

    .hero {
        margin-top: 4.5em;
    }

    .hero-text-block {
        text-align: left;
        width: 45%;
    }

    h1 {
        font-size: 2.3rem;
        margin: 0 0 .5em;
    }

    .subtitle {
        margin-bottom: 1em;
    }

    .hero-img-block {
        width: 50%;
    }

    /**************** Features Styles ***************/
    .features .box {
        gap: 5em;
        text-align: left;
    }

    .section-text {
        width: 60%;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    /**************** CTA Styles ***************/
    .cta {
        margin: 0 auto;
        width: 50%;
    }

    /**************** Footer Styles ***************/
    .footer-logo {
        width: 17%;
    }
    .company-info {
        width: 30%;
    }

    .align-start {
        align-items: flex-start;
    }

    .copyright {
        text-align: right;
    }
}


.attribution {
    font-size: 11px;
    margin-top: 3em;
    text-align: center; 
}

.attribution a { color: hsl(228, 45%, 44%); }
