
:root {
    /* Primary Colors */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* Neutral Colors */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/**************** General Styles *******************/
body {
    background-color: hsl(0, 0%, 91%);
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 370px;
    padding: 4em 1.5em;
}

/**************** Testimonials Styles *******************/
.testimonials {
    width: 100%;
}

.client-testimonial {
    /* background-color: hsl(300, 43%, 22%); */
    border-radius: 10px;
    color: #fff;
    padding: 1.7rem 2rem 2rem;
    margin-bottom: 2rem;
}

.client-info {
    display: flex;
}

.client-info img {
    border-radius: 50%;
    height: 100%;
    margin-right: 1.7rem;
    width: 40px;
}

.client-name {
    text-align: left;
}

.client-name h2 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 0.2rem;
}

.client-name p {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 2rem;
}

.testimonial-1 {
    background-color: var(--moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: 90% 0%;
    background-repeat: no-repeat;

}

.testimonial-1 img,
.testimonial-4 img {
    border: 2px solid #a775f1;

}

.testimonial-2 {
    background-color: var(--very-dark-grayish-blue);
}

.testimonial-3,
.testimonial-5 {
    background-color: #fff;
    color: var(--very-dark-grayish-blue);
}

.quote h3 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 0;
}

.quote p {
    color: rgba(255, 255, 255, 0.7);
}

.quote-dark-text {
    color: var(--very-dark-grayish-blue);
}

.quote-dark-text p {
    color: rgba(72, 85, 106, 0.8);
}

.testimonial-4 {
    background-color: var(--very-dark-blackish-blue);
}


/**************** Media Queries *******************/
@media (min-width: 767px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }

    .testimonials {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    
        width: 100%;
    }

    .client-testimonial {
        margin-bottom: 1em;
    }

    .testimonial-1 {
        grid-column: 1/ 3;
    }

    .testimonial-2 {
        grid-column: 1/ 2;
    }

}

.attribution {
    font-size: 11px; text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }

    .testimonials {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    
        width: 100%;
    }

    .client-testimonial {
        margin-bottom: 1em;
    }

    .testimonial-1 {
        grid-column: 1/ 3;
        grid-row: 1 / 2;
    }

    .testimonial-2 {
        grid-column: 3/ 4;
        grid-row: 1 / 2;
    }
    .testimonial-3 {
        grid-row: 2 / 3; 
    }
    .testimonial-4 {
       grid-column: 2 / 4; 
    }
    .testimonial-5 {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

    .quote p {
        font-size: 1.1rem;
    }
}